<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>insta485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="left-section">
            <a href="{{url_for('show_index')}}"><img src="{{ url_for('static', filename='images/Logo.jpg') }}"
                    alt="Logo" /></a>
            <span class="divider">|</span>
            <span class="brand-name">Insta485</span>
        </div>
        <nav>
            <a href="{{url_for('login_page')}}">Login</a>
        </nav>
    </header>

    <div class="action-container">
        <form style="margin: 10pt;" action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <label for="file">Photo</label>
            <input type="file" id="file" name="file" accept="image/*"/>
            <label for="fullname">Name</label>
            <input type="text" id="fullname" name="fullname" required/>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required/>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required/>
            <input type="submit" name="signup" value="sign up"/>
            <input type="hidden" name="operation" value="create"/>
        </form>
        <div class="action-link">
            <p>Have an account? <a href="{{url_for('login_page')}}">Log in</a></p>
        </div>
    </div>
</body>

</html>