<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>insta485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="left-section">
            <a href="{{url_for('show_index')}}"><img src="{{ url_for('static', filename='images/Logo.jpg') }}"
                    alt="Logo" /></a>
            <span class="divider">|</span>
            <span class="brand-name">Insta485</span>
        </div>
        <nav>
            <a href="/explore/">explore</a>
            <span>|</span>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </nav>
    </header>

    <main>
        <h1>Followers</h1>
        <div class="follower-list">
            {% for follower in followers %}
            <div class="follower-item">
                <img src="/uploads/{{ follower.filename }}" alt="{{ follower.username }} profile" class="profile-pic">
                <span class="username"><a href="/users/{{ follower.username }}/">{{ follower.username }}</a></span>
                <span class="follow-status">
                    {% if logname == follower.username %}
                    <span></span>
                    {% elif follower.logname_follows_username %}
                    <span>following</span>
                    <form action="/following/?target=/users/{{follower.username}}" method="post" enctype="multipart/form-data">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{follower.username}}"/>
                        <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                    {% else %}
                    <span>not following</span>
                    <form action="/following/?target=/users/{{follower.username}}" method="post" enctype="multipart/form-data">
                        <input type="submit" name="follow" value="Follow">
                        <input type="hidden" name="username" value="{{ follower.username }}">
                        <input type="hidden" name="operation" value="follow" />
                    </form>
                    {% endif %}
                </span>
            </div>
            {% endfor %}
        </div>
    </main>

</body>

</html>