<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>insta485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="left-section">
            <a href="{{url_for('show_index')}}"><img src="{{ url_for('static', filename='images/Logo.jpg') }}"
                    alt="Logo" /></a>
            <span class="divider">|</span>
            <span class="brand-name">Insta485</span>
        </div>
        <nav>
            <a href="{{url_for('login_page')}}">Login</a>
        </nav>
    </header>

    <div class="action-container">
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <input type="text" name="username" required placeholder="Username"/>
            <input type="password" name="password" required placeholder="Password"/>
            <input type="submit" value="login"/>
            <input type="hidden" name="operation" value="login"/>
        </form>
        <a href="/accounts/create/" class="action-link">Don't have an account? Sign up</a>
    </div>
</body>

</html>