<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>insta485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="left-section">
            <a href="{{url_for('show_index')}}"><img src="{{ url_for('static', filename='images/Logo.jpg') }}"
                    alt="Logo" /></a>
            <span class="divider">|</span>
            <span class="brand-name">Insta485</span>
        </div>
        <nav>
            <a href="/explore/">explore</a>
            <span>|</span>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </nav>
    </header>

    <div class="action-container">
        <form action="/accounts/password/" method="post" enctype="multipart/form-data">
            <label for="password">Old password</label>
            <input type="password" id="password" name="password" required placeholder="Old password"/>
            <label for="new_password1">New password</label>
            <input type="password" id="new_password1" name="new_password1" required placeholder="New password"/>
            <label for="new_password2">New password, again</label>
            <input type="password" id="new_password2" name="new_password2" required placeholder="Repeat new password"/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/" class="action-link">Back to edit account</a>
    </div>
</body>
</html>
